.register-link {
    text-decoration: none;
    color: black;
}

.password-recovery-link {
    text-decoration: underline;
    color: black;

}

.img {
    object-fit: contain;
    margin-top: 1.85rem;
    width: 13rem;
    height: 13rem;
    border-radius: 5.50rem;
}

.img-icons {
    object-fit: contain;
    width: 3rem;
    height: 3rem;
}